.bgWrap {
  background: rgba(61, 90, 128, 0.6);
  margin: 0;
  z-index: -1;
  overflow: hidden;
  display: none;
}

.bgText {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 2vh;
  text-shadow: 1px 1px 1px #3c5c5e;
}

.heroBtn {
  text-transform: uppercase;
  background: var(--btn-color);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--main-letter-spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--primary-transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: var(--btn-color);
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
}

.heroBtn:hover {
  background: transparent;
  color: white;
  border-color: white;
}

.heroBtn > a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .bgWrap {
    display: inline-block;
  }
}
