.hSection {
  border: 2px solid red;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  font-family: var(--main-font);
  color: white;
  position: relative;
}

@media screen and (min-width: 992px) {
  .hSection {
    background-color: var(--opacity-bg-color);
  }
}
